.banner {
height: 610px;
    background-image: url("../../assets/image/banner.png");
    background-repeat: no-repeat;
    background-position: right center;
}

h2{
width: 621px;
height: 140px;
font-size: 56px;
line-height: 70px;
}

p {
width: 516px;
height: 96px;
}